/* Reset some default browser styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Apply some basic styles to the header */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Style the navigation menu */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* Style the blog posts */
.blog-post {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/* Style the social media icons with a hover effect */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
/* Header styling */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  transition: background-color 0.3s, padding 0.3s;
}

/* Header styling when scrolled */
header.scrolled {
  background-color: #555;
  padding: 10px 0;
}
section
{padding :10px!important;}
p{
  padding :10px!important;
}

.icon{
  width:40px;
  display: inline-block;
  max-height: 50px;
  height: 40%;
}